<div class="container">
    <h1 class="text-center fw-bolder">Length converter</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 border border-2 shadow p-4">
            <div class="mb-3">
                <label for="" class="fw-bold"> meter</label>
                <input type="text" class="form-control" placeholder="enter  meter"(input)="converttocm()"  [(ngModel)]="meter" >
            </div>
           
            <div class="mb-3">
              
               
            </div>
            <div class="mb-3">
                <label for="" class="fw-bold">cm</label>
                <input type="text" class="form-control" placeholder="enter  cm" (input)="converttometer()"  [(ngModel)]="cm"  >
            </div>
            
        </div>
        <div class="col-3"></div>
    </div>
</div>