<div class="container">
    <h1 class="text-center fw-bolder">Addition</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 border border-2 shadow p-4">
            <div class="mb-3">
                <label for="" class="fw-bold">Num1</label>
                <input type="text" class="form-control" placeholder="enter number1"#box1>
            </div>
           
            <div class="mb-3">
                <button  > </button>
               <h2></h2>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>