<div class="container">
    <h1 class="text-center fw-bolder">temp</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 border border-2 shadow p-4">
            <div class="mb-3">
                <label for="" class="fw-bold"> celsius</label>
                <input type="text" class="form-control" placeholder="enter temp in c"(input)="converttof()"  [(ngModel)]="c" >
            </div>
           
            <div class="mb-3">
              
               
            </div>
            <div class="mb-3">
                <label for="" class="fw-bold">fahrenheit</label>
                <input type="text" class="form-control" placeholder="enter height in cm" (input)="converttoc()"  [(ngModel)]="f"  >
            </div>
            
        </div>
        <div class="col-3"></div>
    </div>
</div>